<h1>Welcome to the Sorting Hat!</h1>
<%= image_tag "http://flavorwire.files.wordpress.com/2009/06/sorting-hat.jpg" %>

  <%= form_for @student, url: {action: "create"} do |f| %>
    <%= f.label :name %>:
    <%= f.text_field :name %>
    <%= f.label :img_url %>:
    <%= f.text_field :img_url %>
    <%= f.submit "Sort Me!" %>
  <% end %>